@use "../../global" as *;
@use "../../partials" as *;

.footer {
  padding: size(48) size(0) size(40);

  @include breakpoint(tab992) {
    padding: size(96) size(0) size(40);
  }

  &-content {
    @include flex-column;
    gap: size(64);

    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-details {
    @include flex-column;
    gap: size(32);

    .details {
      max-width: size(572);

      .text {
        color: $textdefault;
        font-size: size(16);
        font-style: normal;
        font-weight: 500;
        line-height: 1.6;
      }
    }
  }

  &-info {
    @include flex-column;
    gap: size(32);

    &-header {
      .title {
        color: $textdefault;
        font-size: size(18);
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: size(-0.54);
      }
    }
  }

  .copyright {
    @include border-single(top, solid, 1, $borderdefault);
    padding-top: size(16);
    @include flex-center;
    text-align: center;

    .textcopyright {
      color: $textmuted;
      font-size: size(14);
      font-weight: 500;
      line-height: 1.6;
    }
  }
}
