@use "../../global" as *;
@use "../../partials" as *;

.cardpayfly {
  background: $white;
  @include border(solid, 2, rgba($primary, 0.1));
  @include radius(16);
  @include flex-column;
  gap: size(34);
  padding: size(20);
  @include h100;

  @include breakpoint(desktop1400) {
    padding: size(24);
  }

  @include breakpoint(desktop1920) {
    padding: size(32);
  }

  &-header {
    @include flex-column;
    gap: size(16);

    .cardicon {
      background: $primarylight;
      @include square(50);
      @include circle;
      @include flex-center;
      overflow: hidden;
      padding: size(16);
    }

    .title {
      color: $textdefault;
      font-size: size(16);
      font-style: normal;
      font-weight: 500;

      @include breakpoint(desktop1400) {
        font-size: size(18);
      }

      @include breakpoint(desktop1920) {
        font-size: size(20);
      }
    }
  }

  &-body {
    .cardtext {
      color: $textdefault;
      font-size: size(13);
      font-weight: 500;
    }
  }
}

.cardmoney {
  background: $white;
  @include radius(16);
  @include flex-center-between;
  gap: size(16);
  padding: size(16) size(24);

  &-detail {
    @include flex-center-vert;
    gap: size(16);

    .cardicon {
      background: $primary;
      @include radius(8);
      @include square(50);
      @include flex-center;
      padding: size(8);
    }

    .details {
      @include flex-column;
      gap: size(4);

      .title {
        font-family: $secondaryfont;
        color: $textdefault;
        font-size: size(16);
        font-weight: 500;
      }

      .text {
        color: $textdefault;
        font-size: size(12);
        font-weight: 500;
      }
    }
  }

  &-price {
    .price {
      font-family: $secondaryfont;
      font-size: size(14);
      font-style: normal;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: size(-0.54);

      @include breakpoint(desktop1400) {
        font-size: size(16);
      }

      @include breakpoint(desktop1920) {
        font-size: size(18);
      }
    }
  }
}

.cardworks {
  background: $white;
  @include border(solid, 2, rgba($primary, 0.1));
  @include radius(16);
  padding: size(32) size(32) size(64);

  .cardinfo {
    max-width: size(220);
    @include flex-column;
    gap: size(34);

    &-header {
      @include flex-column;
      gap: size(16);

      .counter {
        background: $primarylight;
        @include square(50);
        @include circle;
        @include flex-center;

        .count {
          color: $primary;
          font-size: size(20);
          font-weight: 500;
        }
      }

      .title {
        color: $textdefault;
        font-size: size(20);
        font-weight: 500;
      }
    }

    &-body {
      .text {
        color: $textdefault;
        font-size: size(13);
        font-weight: 500;
      }
    }
  }
}
