$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(167, 38%, 53%); //#5BB5A2

// BACKGROUND-COLORS
$primarylight: hsl(156, 28%, 93%); //#E8F2EE
$bgmuted: hsl(0, 0%, 97%); //#F8F8F8
$secbg: rgba($primary, 0.05);

// TEXT-COLORS
$textdefault: hsl(252, 9%, 11%); //#1A191E
$textmuted: rgba($textdefault, 0.5);

$test: rgb(90, 181, 161);

$danger: hsl(0, 91%, 54%); //#F51F1F

// BORDER-COLORS
$borderdefault: hsl(0, 0%, 91%); //#E8E8E8
$inputborder: hsl(210, 14%, 89%); //#dee2e6

// SHADOWS

// BOX-SHADOWS
