@use "../global" as *;
@use "../partials" as *;

section {
  min-height: 100vh;
}

.hero {
  padding: size(96) size(0) size(64);

  @include breakpoint(tab992) {
    padding: size(64) size(0) size(124);
  }

  .descriptions {
    @include flex-column;
    gap: size(52);
  }

  &-details {
    @include flex-column;
    gap: size(24);

    .display-1 {
      line-height: 1.1;
      letter-spacing: size(-1);

      @include breakpoint(tab992) {
        letter-spacing: size(-3);
      }

      .marked {
        letter-spacing: inherit;
      }
    }

    .details {
      max-width: size(600);
    }

    .text {
      color: $textdefault;
      font-size: size(16);
      font-style: normal;
      font-weight: 500;
      line-height: 1.7;

      @include breakpoint(desktop1400) {
        font-size: size(20);
      }

      @include breakpoint(desktop1920) {
        font-size: size(24);
      }
    }
  }

  &-thumbnail {
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }
}

.whypayfly {
  background: $secbg;
  padding: size(64) size(0) size(124);

  @include breakpoint(tab992) {
    padding: size(160) size(0) size(96);
  }

  &-details {
    @include flex-column;
    gap: size(44);

    .display-3 {
      letter-spacing: size(-1.92);
      line-height: normal;

      .marked {
        letter-spacing: inherit;
      }
    }

    .details {
      max-width: size(560);
    }

    .text {
      color: $textdefault;
      font-size: size(16);
      font-style: normal;
      font-weight: 500;
      line-height: 1.7;

      @include breakpoint(desktop1400) {
        font-size: size(18);
      }

      @include breakpoint(desktop1920) {
        font-size: size(20);
      }
    }
  }

  &-thumbnail {
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }
}

.instantmoney {
  &-content {
    background: $primarylight;
    @include radius(20);
    padding: size(64) size(32) size(80);

    @include breakpoint(tab992) {
      padding: size(96) size(32) size(80);
    }
  }

  &-details {
    @include flex-column;
    gap: size(32);

    .text {
      color: $textdefault;
      font-size: size(16);
      font-style: normal;
      font-weight: 500;
      line-height: 1.7;

      @include breakpoint(desktop1400) {
        font-size: size(18);
      }

      @include breakpoint(desktop1920) {
        font-size: size(20);
      }
    }
  }

  .moneylist {
    @include list-vertical;
    gap: size(8);

    &-item {
      @include flex-center-vert;
      gap: size(16);

      .icon {
        @include square(16);
        @include flex-center;
        overflow: hidden;
        overflow: hidden;
      }

      .text {
        color: $textdefault;
        font-size: size(16);
        font-style: normal;
        font-weight: 500;
        line-height: 1.7;

        @include breakpoint(desktop1400) {
          font-size: size(18);
        }
      }
    }
  }
}

.howitworks {
  padding: size(80) size(0) size(48);

  @include breakpoint(tab992) {
    padding: size(120) size(0) size(48);
  }

  &-content {
    @include flex-column;
    gap: size(64);

    .detail {
      max-width: size(560);
      margin-inline: auto;

      .text {
        color: $textdefault;
        font-size: size(16);
        font-style: normal;
        font-weight: 500;
        line-height: 1.7;

        @include breakpoint(desktop1400) {
          font-size: size(18);
        }

        @include breakpoint(desktop1920) {
          font-size: size(20);
        }
      }
    }
  }
}

.features {
  padding: size(80) size(0) size(48);

  @include breakpoint(tab992) {
    padding: size(120) size(0) size(48);
  }

  &-left {
    @include flex-column;
    gap: size(48);

    .topcontent {
      @include flex-column;
      gap: size(24);
    }

    .subtitle {
      color: $textdefault;
      font-family: $secondaryfont;
      font-size: size(20);
      font-weight: 500;
    }

    .display-3 {
      color: $textdefault;
    }

    .details {
      max-width: size(538);

      .text {
        color: $textdefault;
        font-size: size(16);
        font-style: normal;
        font-weight: 500;
        line-height: 1.8;

        @include breakpoint(desktop1920) {
          font-size: size(17);
        }
      }
    }
  }

  &-right {
    @include flex-column;
    gap: size(16);
  }
}
