@use "../../global" as *;
@use "../../partials" as *;

.header {
  background: $white;
  @include border-single(bottom, solid, 0.25, $primary);

  .brandlogo {
    max-width: size(120);
    @include flex-center;
    overflow: hidden;
    // margin-left: size(10);

    @include breakpoint(tab992) {
      max-width: 100%;
    }
  }
}
